In [3]:
print "Hello World"

Hello World

In [4]:
#Feature Importance with datasets.load_iris() # fit an Extra 

#Python

# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
# load the iris datasets
#dataset = datasets.load_iris()
# fit an Extra Trees model to the data
#model = ExtraTreesClassifier()
#model.fit(dataset.data, dataset.target)
# display the relative importance of each attribute
#print(model.feature_importances_)

In [5]:
 # Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

In [6]:

 # Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
# load the iris datasets
dataset = datasets.load_iris()
# fit an Extra Trees model to the data
model = ExtraTreesClassifier()
model.fit(dataset.data, dataset.target)
# display the relative importance of each attribute
print(model.feature_importances_)

[ 0.13286182  0.03909607  0.33030331  0.4977388 ]

In [7]:
import csv

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
pd.read_csv('C:\Users\zappari\Desktop\ML ex\LoanStats3a_20170620_v10.csv')

,loan_status,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term_mths,int_rate_pct,installment,grade,sub_grade,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,pub_rec_bankruptcies
0,1,2,2500,2500,2500.00000,60,0.1527,59.83,3,14,...,435.17,0.00,122.90,1.1100,20170413,119.66,20171016,0,1,0
1,2,4,10000,10000,10000.00000,36,0.1349,339.31,3,11,...,2214.92,16.97,0.00,0.0000,20170115,357.48,20170416,0,1,0
2,2,5,3000,3000,3000.00000,60,0.1269,67.79,2,10,...,1066.91,0.00,0.00,0.0000,20170117,67.30,20170117,0,1,0
3,2,6,5000,5000,5000.00000,36,0.0790,156.46,1,4,...,632.21,0.00,0.00,0.0000,20170115,161.03,20170217,0,1,0
4,2,7,7000,7000,7000.00000,60,0.1596,170.08,3,15,...,3137.84,0.00,0.00,0.0000,20170516,1313.76,20170916,0,1,0
5,2,8,3000,3000,3000.00000,36,0.1864,109.43,5,21,...,939.14,0.00,0.00,0.0000,20170115,111.34,20171214,0,1,0
6,1,10,5375,5375,5350.00000,60,0.1269,121.45,2,10,...,533.42,0.00,277.69,2.5200,20171112,121.45,20171216,0,1,0
7,2,11,6500,6500,6500.00000,60,0.1465,153.45,3,13,...,1178.02,0.00,0.00,0.0000,20170613,1655.54,20171215,0,1,0
8,2,12,12000,12000,12000.00000,36,0.1269,402.54,2,10,...,1947.99,0.00,0.00,0.0000,20170913,6315.30,20170813,0,1,0
9,1,13,9000,9000,9000.00000,36,0.1349,305.38,3,11,...,570.26,0.00,450.92,4.1600,20170712,305.38,20171016,0,1,0
10,2,14,3000,3000,3000.00000,36,0.0991,96.68,2,6,...,480.27,0.00,0.00,0.0000,20170115,102.43,20170417,0,1,0
11,1,15,10000,10000,10000.00000,36,0.1065,325.74,2,7,...,1393.42,0.00,645.10,6.3145,20171013,325.74,20171016,0,1,0
12,2,16,1000,1000,1000.00000,36,0.1629,35.31,4,16,...,270.72,0.00,0.00,0.0000,20170115,36.32,20170517,0,1,0
13,2,17,10000,10000,10000.00000,36,0.1527,347.98,3,14,...,2527.15,0.00,0.00,0.0000,20170115,370.46,20170517,0,1,0
14,2,18,3600,3600,3600.00000,36,0.0603,109.57,1,1,...,185.27,0.00,0.00,0.0000,20170513,583.45,20170514,0,1,0
15,2,19,6000,6000,6000.00000,36,0.1171,198.46,2,8,...,1152.07,15.00,0.00,0.0000,20170215,16.98,20170715,0,1,0
16,2,20,9200,9200,9200.00000,36,0.0603,280.01,1,1,...,260.00,0.00,0.00,0.0000,20170712,8061.10,20170216,0,1,0
17,2,21,20250,20250,19142.16108,60,0.1527,484.63,3,14,...,7429.05,0.00,0.00,0.0000,20170815,6024.09,20170616,0,1,0
18,1,22,21000,21000,21000.00000,36,0.1242,701.73,2,9,...,3330.44,0.00,9.20,0.0000,20170913,701.73,20170217,0,1,0
19,2,23,10000,10000,10000.00000,36,0.1171,330.76,2,8,...,1907.35,0.00,0.00,0.0000,20170115,349.21,20170517,0,1,0
20,2,24,10000,10000,10000.00000,36,0.1171,330.76,2,8,...,1540.89,0.00,0.00,0.0000,20171013,4942.63,20170314,0,1,0
21,1,25,6000,6000,6000.00000,36,0.1171,198.46,2,8,...,475.25,0.00,275.02,2.5700,20171012,198.46,20171016,0,1,0
22,2,26,15000,15000,15000.00000,36,0.0991,483.38,2,6,...,824.00,0.00,0.00,0.0000,20170912,2447.05,20170912,0,1,0
23,1,27,15000,15000,8725.00000,36,0.1427,514.64,3,12,...,0.00,0.00,0.00,0.0000,0,0.00,20170517,0,1,0
24,1,28,5000,5000,5000.00000,60,0.1677,123.65,4,17,...,719.11,0.00,263.00,2.3000,20171212,123.65,20171016,0,1,0
25,2,29,4000,4000,4000.00000,36,0.1171,132.31,2,8,...,486.29,0.00,0.00,0.0000,20170413,2638.77,20170517,0,1,0
26,2,30,8500,8500,8500.00000,36,0.1171,281.15,2,8,...,1626.09,0.00,0.00,0.0000,20171214,581.59,20170115,0,1,0
27,2,32,31825,31825,31825.00000,36,0.0790,995.82,1,4,...,3061.91,0.00,0.00,0.0000,20170813,16966.70,20171116,0,1,0
28,2,33,10000,10000,9975.00000,60,0.1596,242.97,3,15,...,4577.22,0.00,0.00,0.0000,20170117,241.99,20170117,0,1,0
29,2,34,5000,5000,5000.00000,36,0.0890,158.77,1,5,...,715.56,0.00,0.00,0.0000,20170115,163.64,20171216,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39886,3,92563,15600,8000,775.00000,36,0.1186,265.17,4,16,...,1035.11,0.00,2067.08,372.0744,20171108,398.98,20170517,0,1,0
39887,4,92564,3500,3500,1025.00000,36,0.1091,114.44,3,13,...,609.50,30.00,0.00,0.0000,20170310,565.92,20170117,0,1,0
39888,3,92565,2600,2600,950.00000,36,0.1438,89.35,5,24,...,446.30,0.00,202.20,70.7400,20170109,89.35,20170217,0,1,0
39889,4,92566,10500,4000,1150.00000,36,0.1691,142.43,7,32,...,1127.54,0.00,0.00,0.0000,20170710,143.43,20170710,0,1,0
39890,3,92567,20000,20000,700.00000,36,0.1501,693.45,6,26,...,2435.47,0.00,667.33,6.6800,20170608,693.44,20170109,0,1,0
39891,3,92568,6725,6725,825.00000,36,0.1312,226.98,4,20,...,1171.30,0.00,0.09,0.0000,20170409,42.11,20170517,0,1,0
39892,4,92569,2000,2000,1025.00000,36,0.1280,67.20,4,19,...,419.12,0.00,0.00,0.0000,20170710,68.31,20170610,0,1,0
39893,4,92570,6000,6000,1200.00000,36,0.1312,202.51,4,20,...,1290.24,0.00,0.00,0.0000,20170710,204.65,20170912,0,1,0
39894,4,92571,5350,5350,625.00000,36,0.1312,180.57,4,20,...,1121.77,15.00,0.00,0.0000,20170210,1056.94,20170713,0,1,0
39895,4,92572,1900,1900,900.00000,36,0.0964,61.00,2,9,...,99.14,0.00,0.00,0.0000,20170208,0.00,20170507,0,1,0
39896,4,92573,10000,10000,350.00000,36,0.1470,345.18,5,25,...,2570.54,51.78,0.00,0.0000,20170810,1605.65,20170810,0,1,0
39897,4,92574,2000,2000,1275.00000,36,0.0712,61.87,1,1,...,227.02,0.00,0.00,0.0000,20170710,63.59,20170610,0,1,0
39898,4,92575,6000,6000,650.00000,36,0.1059,195.28,3,12,...,1029.87,0.00,0.00,0.0000,20170610,197.36,20171014,0,1,0
39899,4,92576,4400,4400,1400.00000,36,0.0964,141.25,2,9,...,684.72,0.00,0.00,0.0000,20170610,143.28,20170215,0,1,0
39900,4,92577,1200,1200,500.00000,36,0.0901,38.17,2,7,...,173.99,0.00,0.00,0.0000,20170710,39.05,20170517,0,1,0
39901,4,92578,5000,5000,375.00000,36,0.1122,164.23,3,14,...,828.47,30.00,0.00,0.0000,20170410,149.43,20170117,0,1,0
39902,4,92579,1400,1400,475.00000,36,0.1091,45.78,3,13,...,248.24,15.00,0.00,0.0000,20170710,1.78,20170914,0,1,0
39903,4,92580,1000,1000,625.00000,36,0.1407,34.21,5,23,...,231.57,0.00,0.00,0.0000,20170610,35.27,20170610,0,1,0
39904,4,92581,5000,5000,300.00000,36,0.0775,156.11,1,3,...,565.73,0.00,0.00,0.0000,20170809,1663.91,20170809,0,1,0
39905,4,92582,2500,2500,225.00000,36,0.0743,77.69,1,2,...,100.24,0.00,0.00,0.0000,20170108,0.00,20170607,0,1,0
39906,4,92583,3000,3000,250.00000,36,0.0743,93.23,1,2,...,120.28,0.00,0.00,0.0000,20170108,0.00,20170607,0,1,0
39907,3,92584,2600,2600,575.00000,36,0.0838,81.94,1,5,...,329.05,21.64,28.70,0.3400,20170310,21.75,20171016,0,1,0
39908,4,92585,1000,1000,625.00000,36,0.0712,30.94,1,1,...,113.50,0.00,0.00,0.0000,20170610,32.93,20170414,0,1,0
39909,4,92586,6450,6450,0.00000,36,0.1122,211.85,3,14,...,1228.62,120.00,0.00,0.0000,20170710,167.78,20170610,0,1,0
39910,3,92587,1275,1275,0.00000,36,0.1249,42.65,4,18,...,128.57,0.00,872.89,305.5105,20170508,42.65,20170517,0,1,0
39911,4,92588,10500,10500,275.00000,36,0.1122,344.87,3,14,...,719.85,0.00,0.00,0.0000,20170808,0.00,20170607,0,1,0
39912,4,92589,3000,3000,125.00000,36,0.0901,95.42,2,7,...,435.00,0.00,0.00,0.0000,20170710,95.66,20170610,0,1,0
39913,3,92590,6500,6500,0.00000,36,0.0964,208.66,2,9,...,503.81,0.00,4897.93,1714.2700,20170508,208.65,20170517,0,1,0
39914,4,92591,1000,1000,0.00000,36,0.0964,32.11,2,9,...,155.60,0.00,0.00,0.0000,20170610,32.41,20170914,0,1,0
39915,4,92592,5000,5000,0.00000,36,0.0775,156.11,1,3,...,619.76,0.00,0.00,0.0000,20170610,156.39,20170215,0,1,0

In [11]:
df = pd.read_csv('C:\Users\zappari\Desktop\ML ex\LoanStats3a_20170620_v10.csv',
                 parse_dates=['issue_d','earliest_cr_line','last_credit_pull_d','last_pymnt_d'])

In [12]:
print df.head()

   loan_status  member_id  loan_amnt  funded_amnt  funded_amnt_inv  term_mths  \
0            1          2       2500         2500           2500.0         60
1            2          4      10000        10000          10000.0         36
2            2          5       3000         3000           3000.0         60
3            2          6       5000         5000           5000.0         36
4            2          7       7000         7000           7000.0         60

   int_rate_pct  installment  grade  sub_grade          ...           \
0        0.1527        59.83      3         14          ...
1        0.1349       339.31      3         11          ...
2        0.1269        67.79      2         10          ...
3        0.0790       156.46      1          4          ...
4        0.1596       170.08      3         15          ...

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0         435.17                0.00       122.9                     1.11
1        2214.92               16.97         0.0                     0.00
2        1066.91                0.00         0.0                     0.00
3         632.21                0.00         0.0                     0.00
4        3137.84                0.00         0.0                     0.00

   last_pymnt_d last_pymnt_amnt  last_credit_pull_d  \
0      20170413          119.66          2017-10-16
1      20170115          357.48          2017-04-16
2      20170117           67.30          2017-01-17
3      20170115          161.03          2017-02-17
4      20170516         1313.76          2017-09-16

   collections_12_mths_ex_med policy_code  pub_rec_bankruptcies
0                           0           1                     0
1                           0           1                     0
2                           0           1                     0
3                           0           1                     0
4                           0           1                     0

[5 rows x 47 columns]

In [13]:
list (df.columns.values)

['loan_status',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term_mths',
 'int_rate_pct',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length_yrs',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'pymnt_plan',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'policy_code',
 'pub_rec_bankruptcies']

In [14]:
print df.groupby('loan_status').size()

loan_status
1     5184
2    32141
3      711
4     1880
dtype: int64

In [15]:
dep_var_cols = ['member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term_mths',
 'int_rate_pct',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length_yrs',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'pub_rec_bankruptcies']

ind_var_col = ['loan_status']

In [16]:
df.dtypes

loan_status                            int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term_mths                              int64
int_rate_pct                         float64
installment                          float64
grade                                  int64
sub_grade                              int64
emp_title                              int64
emp_length_yrs                         int64
home_ownership                         int64
annual_inc                           float64
verification_status                    int64
issue_d                       datetime64[ns]
pymnt_plan                             int64
purpose                                int64
title                                 object
zip_code                               int64
addr_state                             int64
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line                      object
inq_last_6mths                         int64
mths_since_last_delinq                 int64
mths_since_last_record                 int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                           float64
total_acc                              int64
out_prncp                              int64
out_prncp_inv                          int64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                          object
last_pymnt_amnt                      float64
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med             int64
policy_code                            int64
pub_rec_bankruptcies                   int64
dtype: object

In [17]:
from sklearn.cross_validation import train_test_split, StratifiedKFold

C:\Users\zappari\AppData\Local\Continuum\Anaconda2a\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [18]:
df_train, df_test = train_test_split(df, test_size=0.1)

In [19]:
from sklearn.ensemble import ExtraTreesClassifier as etc

In [20]:
df_train.shape

(35924, 47)

In [21]:
X_train = df_train[dep_var_cols]
Y_train = df_train.loan_status

In [22]:
print X_train.head()
print X_train.dtypes

       member_id  loan_amnt  funded_amnt  funded_amnt_inv  term_mths  \
38351      91027       5000         5000      4887.610232         36
26870      28678       8500         8500      8318.139253         36
4484        4805      12000        12000     12000.000000         60
32656      34941      12000        12000     11900.000000         36
9247        9892       4000         4000      4000.000000         60

       int_rate_pct  installment  grade  sub_grade  emp_title  \
38351        0.0859       158.06      1          4      16973
26870        0.0714       263.00      1          3       8578
4484         0.1677       296.75      4         17      22783
32656        0.1183       397.61      2          8       2910
9247         0.1349        92.02      3         12      28368

               ...           total_pymnt_inv  total_rec_prncp  total_rec_int  \
38351          ...                   5561.11          5000.00         689.92
26870          ...                   5043.42          4490.09         761.31
4484           ...                   9893.23          4175.76        3836.49
32656          ...                  13399.99         10702.68        2614.56
9247           ...                   4688.86          4000.00         688.86

       total_rec_late_fee  recoveries  collection_recovery_fee  \
38351            0.000000        0.00                   0.0000
26870            0.000000        8.60                   0.0000
4484             0.000000     1880.98                 338.5764
32656           19.804618      175.70                  31.3992
9247             0.000000        0.00                   0.0000

       last_pymnt_amnt  collections_12_mths_ex_med  policy_code  \
38351           160.60                           0            1
26870           263.00                           0            1
4484             41.85                           0            1
32656           225.45                           0            1
9247           3220.18                           0            1

       pub_rec_bankruptcies
38351                     0
26870                     0
4484                      0
32656                     0
9247                      0

[5 rows x 41 columns]
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term_mths                       int64
int_rate_pct                  float64
installment                   float64
grade                           int64
sub_grade                       int64
emp_title                       int64
emp_length_yrs                  int64
home_ownership                  int64
annual_inc                    float64
verification_status             int64
pymnt_plan                      int64
purpose                         int64
zip_code                        int64
addr_state                      int64
dti                           float64
delinq_2yrs                     int64
inq_last_6mths                  int64
mths_since_last_delinq          int64
mths_since_last_record          int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                    float64
total_acc                       int64
out_prncp                       int64
out_prncp_inv                   int64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_amnt               float64
collections_12_mths_ex_med      int64
policy_code                     int64
pub_rec_bankruptcies            int64
dtype: object

In [23]:
print Y_train.head()
print Y_train.dtypes

38351    4
26870    1
4484     1
32656    1
9247     2
Name: loan_status, dtype: int64
int64

In [24]:
# feature extraction
model = etc()
model.fit(X_train, Y_train)
print(model.feature_importances_)

[ 0.1980466   0.03755581  0.05099657  0.04988397  0.01521309  0.01014846
  0.03767937  0.02021553  0.02047656  0.00384975  0.0038456   0.00316389
  0.00363046  0.0046435   0.          0.004042    0.00379859  0.00339394
  0.00421293  0.00214481  0.03145878  0.00354441  0.0014827   0.0042901
  0.00131715  0.00644594  0.00493234  0.00459513  0.          0.
  0.04968202  0.05059674  0.1151162   0.01446493  0.01004238  0.14143482
  0.04832666  0.03408311  0.          0.          0.00124515]

# Extra Trees Classifier

In [25]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

# Build a classification task using # informative features
X, y = make_classification(n_samples=5000,
                           n_features=47,
                           n_informative=10,
                           n_redundant=0,
                           n_repeated=0,
                           n_classes=4,
                           random_state=0,
                           shuffle=False)

# Build a forest and compute the feature importances
forest = ExtraTreesClassifier(n_estimators=250,
                              random_state=0)

forest.fit(X_train, Y_train)
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

In [26]:
# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

Feature ranking:
1. feature 0 (0.196635)
2. feature 32 (0.122688)
3. feature 35 (0.116991)
4. feature 36 (0.058792)
5. feature 30 (0.057039)
6. feature 31 (0.051384)
7. feature 3 (0.048023)
8. feature 2 (0.047640)
9. feature 6 (0.042218)
10. feature 1 (0.040759)
11. feature 20 (0.030548)
12. feature 37 (0.028696)
13. feature 7 (0.019742)
14. feature 8 (0.016961)
15. feature 33 (0.016233)
16. feature 4 (0.015750)
17. feature 5 (0.012616)
18. feature 34 (0.009128)
19. feature 25 (0.006973)
20. feature 26 (0.005310)
21. feature 13 (0.004787)
22. feature 18 (0.004696)
23. feature 27 (0.004598)
24. feature 23 (0.004505)
25. feature 15 (0.004195)
26. feature 12 (0.004097)
27. feature 16 (0.004014)
28. feature 17 (0.003969)
29. feature 9 (0.003870)
30. feature 10 (0.003828)
31. feature 21 (0.003539)
32. feature 11 (0.003246)
33. feature 19 (0.002291)
34. feature 22 (0.001703)
35. feature 24 (0.001371)
36. feature 40 (0.001167)
37. feature 38 (0.000000)
38. feature 29 (0.000000)
39. feature 28 (0.000000)
40. feature 39 (0.000000)
41. feature 14 (0.000000)

IndexError: index 41 is out of bounds for axis 0 with size 41

In [27]:
print X_train.head()

       member_id  loan_amnt  funded_amnt  funded_amnt_inv  term_mths  \
38351      91027       5000         5000      4887.610232         36
26870      28678       8500         8500      8318.139253         36
4484        4805      12000        12000     12000.000000         60
32656      34941      12000        12000     11900.000000         36
9247        9892       4000         4000      4000.000000         60

       int_rate_pct  installment  grade  sub_grade  emp_title  \
38351        0.0859       158.06      1          4      16973
26870        0.0714       263.00      1          3       8578
4484         0.1677       296.75      4         17      22783
32656        0.1183       397.61      2          8       2910
9247         0.1349        92.02      3         12      28368

               ...           total_pymnt_inv  total_rec_prncp  total_rec_int  \
38351          ...                   5561.11          5000.00         689.92
26870          ...                   5043.42          4490.09         761.31
4484           ...                   9893.23          4175.76        3836.49
32656          ...                  13399.99         10702.68        2614.56
9247           ...                   4688.86          4000.00         688.86

       total_rec_late_fee  recoveries  collection_recovery_fee  \
38351            0.000000        0.00                   0.0000
26870            0.000000        8.60                   0.0000
4484             0.000000     1880.98                 338.5764
32656           19.804618      175.70                  31.3992
9247             0.000000        0.00                   0.0000

       last_pymnt_amnt  collections_12_mths_ex_med  policy_code  \
38351           160.60                           0            1
26870           263.00                           0            1
4484             41.85                           0            1
32656           225.45                           0            1
9247           3220.18                           0            1

       pub_rec_bankruptcies
38351                     0
26870                     0
4484                      0
32656                     0
9247                      0

[5 rows x 41 columns]

# RFE

In [28]:
 # Recursive Feature Elimination
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# create a base classifier used to evaluate a subset of attributes

In [29]:
model = LogisticRegression()
# create the RFE model and select 5 attributes
rfe = RFE(model, 10)
rfe = rfe.fit(X_train, Y_train)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

[False False  True False  True False False False  True False False  True
 False  True False  True False False False False  True False False False
 False False  True False False False False False  True False False False
 False False False  True False]
[24 25  1 21  1  9  5  2  1 26 14  1 28  1 29  1 23 15 10 12  1 18 19 13 11
 27  1  8 30 31  6 22  1  7  3  4 17 20 32  1 16]

In [30]:
list (X_train.columns.values)

['member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term_mths',
 'int_rate_pct',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length_yrs',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'pub_rec_bankruptcies']

# Naive Bayes

In [31]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc

In [32]:
gnb = GaussianNB()
clf = gnb.fit(X_train, Y_train)
type(clf)

sklearn.naive_bayes.GaussianNB

In [34]:
X_test = df_test[dep_var_cols]
Y_test = df_test.loan_status

In [35]:
Y_pred = clf.predict(X_test)

In [41]:
print "Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != Y_pred).sum())

Number of mislabeled points out of a total 3992 points : 150

In [37]:
print confusion_matrix(Y_test, Y_pred)

[[ 416  115    0    0]
 [   7 3192    0    0]
 [   2    0   49   25]
 [   0    0    1  185]]

In [38]:
print classification_report(Y_test, Y_pred)

             precision    recall  f1-score   support

          1       0.98      0.78      0.87       531
          2       0.97      1.00      0.98      3199
          3       0.98      0.64      0.78        76
          4       0.88      0.99      0.93       186

avg / total       0.96      0.96      0.96      3992